{% extends 'index.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login page</title>
</head>
<body>
  <center>
  <div class="login-box">
    {% for message in messages %}
        <h6 style="text-align: center; font-size:18px;"><mark style="color: green;">{{ message }}</mark></h6>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
    <h1>Login</h1>
    <p>Username</p>
    <div class="textbox">
        <i class="fas fa-user" style="color:white;"></i>
        <input type="text" placeholder="Username" name="uname" value="">
    </div>
    <p>Password</p>
    <div class="textbox">
        <i class="fas fa-lock" style="color:white;"></i>
        <input type="password" placeholder="Password" name="pass" value="">
    </div>
    <button type="submit"> Register </button>
    
    <p style="color:white;">Not Registered Yet? <a style="color: white; font-weight: bold;" href="{% url 'signup' %}"> Register Here</a></p>
    <p style="color:white;">Forgot Password? <a style="color: white;" href="{% url 'signup' %}"> Reset Here</a></p>
    </form>
</div>
</center>
</body>
</html>
{% endblock %}
